body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (min-width: 1450px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px !important;

  }
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
    }

    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #535353;
      background: #303030;
      color: white;
      height: 40px;

      &:hover {
        background: black;
      }
    }

    .navbar {
      z-index: 10;
      padding-top: 20px;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          // & cho biết .nav-link và .active ngang hàng
          color: aqua;
        }
      }

      // .active {
      //   color: red;
      // }
    }

    //  .nav-link.active {
    //   color: red;
    // }
  }

  .homepage-container {
    .homepage-content {
      padding: 100px;
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-1 {
        font-size: 35px;
        font-weight: 600;
      }

      .title-2 {
        font-size: 22px;
      }

      .title-3 {
        button {
          border-radius: 5px;
          height: 40px;
          padding: 0 15px;
          border: 1px solid #535353;
          background: #303030;
          color: white;
          height: 40px;

          &:hover {
            background: black;
          }
        }
      }
    }
  }

}





video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}