.login-container {
    .header {
        height: 45px;
        text-align: right;
        border: 1px solid red;
        padding: 5px 100px 0px 100px;

        button {
            padding: 3px 15px;
            margin-left: 15px;
            border-radius: 5px;
            color: black;
            background-color: #f9f9f9;
            border: 1px solid;

            &:hover {
                background-color: white;
            }
        }
    }

    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcome {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }

    .content-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            margin-bottom: 15px;
            margin-top: 3px;
        }

        button {
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;
        }

        .back {
            cursor: pointer;
        }
    }



}